<html>
<head>
    <title>CSE 591 Adaptive Web Assignment</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="/css/AWAssgn1.css" rel="stylesheet" type="text/css">

</head>

<body class="content">
    <div class="container">
        <div class="row loginform">
            <h1 class="Yellow title">Welcome</h1>
            <div class="title" align="center">
                <a href="/login" class="btn btn-warning">Login</a>
            </div>
            <div class="title" align="center">
                <a href="/signup" class="btn btn-warning">SignUp</a>
            </div>
        </div>
    </div>
</body>
</html>